.container{
    border:1px solid black;
    margin:100px 50px 100px 200px;
    padding:100px 50px 100px 200px;
    border-style: dashed;
    border-color: blue;
    border-radius: 38px;
}
.container2{
    width:200px;
    height:65px;
    padding:100px 50px;
    margin:78px 56px;
    border:1px solid rgb(125, 11, 11);
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-self: center;
    align-content: normal;
}
.Container3{
    width:400px,400px;
    height:400px,400px;
    font:50px;
    border:1px solid purple;
    margin:5px;
    justify-content:space-around;
}